<div class="row">
    <div class="col-xs-12">
        <h1>Shooping List component</h1>
        <app-shopping-edit (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit>
        <hr>
    </div>

    <div class="col-xs-12">
        <ul class="list-group">
            <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let ingredient of ingredients">
            {{ ingredient.name }} ({{ ingredient.amount }})
            </a>
        </ul>
</div>
</div>
